<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/axios.js"></script>
</head>
<body style="overflow-x: hidden;background-color: rgb(234,246,253)">
<header class="header">
    <header class="bs-docs-nav navbar navbar-static-top" id="top" style="margin: 0;padding: 0"></header>
    <div class="container-fluid" style="padding: 0">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(167,202,255,0.59)">
            <a class="navbar-brand" href="#">我的个人博客 | 技术博客</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index.html">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sitemap.html">地图</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">关于</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guestbook.html">留言</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="container-fluid" style="margin-top: 20px;margin-bottom: 20px">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm-6">
            <div class="content_left">
                <div class="description">
                    <div class="about_title">关于我</div>
                    <p>我叫米八，是一个刚开始入门且热爱前端技术的程序员</p>
                    <p>当初便是因为对计算机感兴趣便在大学选择了计算机专业</p>
                    <p>后端或许对我不太够有吸引力，但前端确确实实吸引住了我</p>
                    <p>现在的前端已经不仅仅停留在画静态页面，当下的前端之强大</p>
                    <p>能做的事已经不仅限于服务端、动态页面、APP、桌面应用等等</p>
                    <p>前端对我来说相当于一张宝藏地图，让我想去接触和体验科技魅力</p>

                    <div class="about_title">关于博客</div>
                    <p>这个博客在今年刚刚起步</p>
                    <p>平时用于记录博主的学习笔记</p>
                    <p>域名：http://508r76f180.51vip.biz</p>
                    <p>服务器：mysql部署》oray壳域名》路由动态域名服务DDNS</p>
                    <p>域名暂用，找到适合顶级域名便更新</p>
                </div>
                <div class="blog_comments" id="blog_comments">
                    <span class="blog_comments_msg">当前文章：{{total}} 条留言</span>
                    <div class="blog_comment" v-for="comment in comments">
                        <span><b>{{comment.user_name}}</b>：{{comment.options}} 发表于 {{comment.ctime}} <a style="cursor: pointer" v-on:click="reply(comment.id, comment.user_name)">[回复]</a></span>
                        <div>{{comment.comments}}</div>
                    </div>
                </div>
                <div class="send_comment" id="send_comment">
                    <span>发表评论</span>
                    <div>
                        <input type="hidden" id="comment_reply" value="-1">
                        <input type="hidden" id="comment_reply_name" value="0">
                        <input type="text" placeholder="昵称" id="comment_name">
                        <input type="text" placeholder="邮箱（评论被回复时你能收到通知）" id="comment_email">
                    </div>
                    <div>
                        <textarea placeholder="无意义的内容我可能不会回复你" id="comment_content"></textarea>
                    </div>
                    <div>
                        <input type="text" placeholder="验证码" id="comment_code">
                        <span v-html="vcode" v-on:click="changeCode()"></span>
                    </div>
                    <button v-on:click="sendComment()">提交评论</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="content_right">
                <div class="right_moodule" id="random_tags">
                    <div>随机标签云</div>
                    <a v-for="tag in tags" v-bind:style="{color:randomColor(), fontSize:randomSize()}" v-bind:href="tag.link">{{tag.text}}</a>
                </div>
                <div class="right_moodule" id="new_hot">
                    <div>最近热门</div>
                    <ul>
                        <li v-for="temp in titleList">
                            <a v-bind:href="temp.link">{{temp.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="right_moodule" id="new_comments">
                    <div>最新评论</div>
                    <ul>
                        <li v-for="comment in commentList">
                            <div>
                                <span>{{comment.name}}</span>
                                <span class="pull_right">{{comment.date}}</span>
                            </div>
                            <p>{{comment.comment}}</p>
                        </li>
                    </ul>
                </div>
                <div class="right_moodule">
                    <div>友情链接</div>
                    <span><a href="/">基基科技</a></span><span><a href="/">米八博客</a></span>
                </div>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
    </div>
<footer class="footer">
    <a href="#top" class="back-to-top">
        <button type="button" class="btn btn-primary">

            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-hand-index" viewBox="0 0 16 16" style="color: white;text-align: center">
                <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435a4.9 4.9 0 0 1 .106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"></path>
            </svg>
        </button>
    </a>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">C/C++</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">CSS/DIV</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">JAVA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">JavaScript</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Linux</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Mac</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">PC技术</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">PHP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Python</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Raspberry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Ubuntu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">wordpress</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">关于SEO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">分享经验</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">听听音乐</a>
        </li>
    </ul>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Copyright © 2022-2027 米八博客</a>
        </li>
    </ul>
</footer>
<script src="./js/about.js"></script>
<script src="./js/base.js"></script>
</body>
</html>